@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>URLS</h2>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UrlTitle)*@
            @Html.ActionLink("UrlTitle", "Index", new {SortOrder =  (ViewBag.SortOrder==null?"Asc":(ViewBag.SortOrder=="Asc"?"Desc":"Asc")), OrderBy="Title",page =(ViewBag.Page==null?"1":ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Url", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), OrderBy = "Url", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            @*@Html.DisplayNameFor(model => model.Url)*@
        </th>
        <th>
            @Html.ActionLink("UrlDesc", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), OrderBy = "UrlDesc", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            @*@Html.DisplayNameFor(model => model.UrlDesc)*@
        </th>
        
        <th>
            @Html.ActionLink("CategoryNAme", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), OrderBy = "CategoryNAme", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            @*@Html.DisplayNameFor(model => model.tbl_Category.CategoryName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrlTitle)
        </td>
        <td>
            <a target="_blank" href=@item.Url>@item.Url</a>
            @*@Html.DisplayFor(modelItem => item.Url)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlDesc)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
        </td>
      
    </tr>
}

</table>
@{ 
    double TotalPage = @ViewBag.TotalPages;
}
@for (int i = 1; i <= TotalPage; i++)
{
    if (i == ViewBag.Page)
    {
        <b>
           | @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), OrderBy = (ViewBag.OrderBy == null ? "Title" : ViewBag.OrderBy), Page = i })|

        </b>
    }
    else
    {
        @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), OrderBy = (ViewBag.OrderBy == null ? "Title" : ViewBag.OrderBy), Page = i })

    }
}